<h1>Add a New Cook</h1>



<%= form_for @cook do |f| %>
  <% if @cook.errors.any? %>

    <h2> Errors: </h2>
    <ul>
      <% @cook.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
    </ul>
<% end %>




  <p>
    <%= f.label :date %> <br/>
    <%= f.date_field :date %>
  </p>

  <p>
    <%= f.label :bagid %> <br/>
    <%= f.text_area :bagid %>
  </p>

  <p>
    <%= f.label :method %> <br/>
    <%= f.text_area :method %>
  </p>

  <p>
    <%= f.label :soaktime %> <br/>
    <%= f.text_area :soaktime %>
  </p>

  <p>
    <%= f.label :cooktime %> <br/>
    <%= f.text_area :cooktime %>
  </p>

  <p>
    <%= f.label :substrate %> <br/>
    <%= f.text_area :substrate %>
  </p>

  <p>
    <%= f.label :spawn %> <br/>
    <%= f.text_area :spawn %>
  </p>

 
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>